@model List<AWA_Quiz.Models.QuizViewModel>

@{
    ViewBag.Title = "DeleteTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <p>Choose test or question to delete</p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "")
        <p>Tests</p>
        <div class="list-group text-left">
            @foreach (var test in Model.testTitles)
            {
                <a href="#" class="list-group-item select"><b>@test</b></a>
            }
        </div>
        <p>Questions</p>
        <div class="list-group text-left">
            @foreach (var question in Model.questionTitles)
            {
                <a href="#" class="list-group-item select"><b>@question</b></a>
            }
        </div>

    </div>
}

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete test" class="btn btn-default" />
        </div>
    }
</div>

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete question" class="btn btn-default" />
        </div>
    }
</div>

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cancel" class="btn btn-default" />
        </div>
    }
</div>
