@model AWA_Quiz.Models.QuizViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome!</h2>
<h4>You are logged in as...</h4>

<p>Choose how to proceed by clicking one of the buttons below</p>
<div class="form-group">
    @using (Html.BeginForm("AddTest", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add test" class="btn btn-default" />
        </div>
    }
</div>
<div class="form-group">
@using (Html.BeginForm("AddUser", "Quiz", FormMethod.Post))
{
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Add user" class="btn btn-default" />
    </div>
}
</div>
<div class="form-group">
@using (Html.BeginForm("StartTest", "Quiz", FormMethod.Post))
{
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Start test" class="btn btn-default" />
    </div>
}
</div>
<div></div>
<div class="form-group">
@using (Html.BeginForm("ViewHistory", "Quiz", FormMethod.Post))
{
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="View result" class="btn btn-default" />
    </div>
}
</div>
