@model AWA_Quiz.Models.QuizViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Home</h3>
    <p class="lead">Welcome to your own personal homepage!</p>
</div>

<p>Here you can take quizzes, fill in this week's review or see your own statistics. </p>

<p>Choose how to proceed by clicking one of the buttons below</p>

<div>
    @Html.ActionLink("Add Test", "AddTest", "Quiz", new { @class = "btn btn-default" })
    @Html.ActionLink("Add User", "AddUser", "User", new { @class = "btn btn-default" })
    @Html.ActionLink("Start Quiz", "StartTest", "Quiz", new { @class = "btn btn-default" })
    @Html.ActionLink("View Statistics", "ViewHistory", "Quiz", new { @class = "btn btn-default" })

</div>
<p>Area for quizes and reviews not taken?</p>
<br/>
<p>Area for the lastest statistics?</p>

