@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h3>About</h3>
    <p class="lead">Academic Work Academy</p>
</div>

<p>This is where we tell you about us, the students from Academic Work Academy that created this site.</p>
