@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h3>Contact</h3>
    <p class="lead">Contact us and give feedback!</p>
</div>

<p>Please call us or email us and tell us what you think about the Academic Work Academy-portal.</p>

<address>
    Academic Work Academy<br />
    Sankt Eriksgatan 121<br />
    <abbr title="Phone">Phone:</abbr>
    +46 8 000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>